// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'prism/themes/prism-okaidia.css'
// Check out "bower_components/prism/themes/" for available themes

$intro-color = #81b1db

h3
  font-style: normal

p.bullet
  margin-bottom: 2em

.alert
  color: red

// Intro + Coda

.intro
.thank-you
  background-color: $intro-color

  &.bespoke-backdrop-active
    opacity: 1

// Git

.git
  background-color: #fff
  color: #272822

  h3
    color: #272822

  pre
    background-color: #272822 !important

  &.bespoke-backdrop-active
    opacity: 1

svg
  .step-1
  .step-2
  .step-3
  .step-4
  .step-5
  .step-6
  .step-7
    display: none

.diagram.step-1
  .step-1
    display: inline

.diagram.step-2
  .step-1
  .step-2
    display: inline

.diagram.step-3
  .step-1
  .step-2
  .step-3
    display: inline

.diagram.step-4
  .step-1
  .step-2
  .step-3
  .step-4
    display: inline

.diagram.step-5
  .step-1
  .step-2
  .step-3
  .step-4
  .step-5
    display: inline

.diagram.step-6
  .step-1
  .step-2
  .step-3
  .step-4
  .step-5
  .step-6
    display: inline

.diagram.step-7
  .step-1
  .step-2
  .step-3
  .step-4
  .step-5
  .step-6
  .step-7
    display: inline

// Slides

.slide-disaster
  background-image: url('../images/slides/disaster.gif')

.slide-frustration
  background-image: url('../images/slides/frustration.gif')

.slide-epic-fail
  background-image: url('../images/slides/epic-fail.gif')

.slide-epic-win
  background-image: url('../images/slides/epic-win.gif')

.slide-lazy
  background-image: url('../images/slides/lazy.gif')

.slide-hide-mess
  background-image: url('../images/slides/hide-mess.gif')

.slide-minor-fail
  background-image: url('../images/slides/minor-fail.gif')

.slide-thats-a-lot
  background-image: url('../images/slides/thats-a-lot.gif')

.slide-overwhelmed
  background-image: url('../images/slides/overwhelmed.gif')

.slide-phew
  background-image: url('../images/slides/phew.gif')

.slide-please-wait
  background-image: url('../images/slides/please-wait.gif')

.slide-self-punch
  background-image: url('../images/slides/self-punch.gif')

.slide-start
  background-image: url('../images/slides/start.gif')

.slide-tangled-cables
  background-image: url('../images/slides/tangled-cables.jpg')

.slide-wake-up
  background-image: url('../images/slides/wake-up.gif')

.slide-waste
  background-image: url('../images/slides/waste.gif')

// Tool slides

.tool
  color: black

  h2
    margin-top: 30%

.tool-ab
  background-image: url('../images/tools/ab.png')

.tool-bitbucket
  background-image: url('../images/tools/bitbucket.png')

.tool-browserify
  background-image: url('../images/tools/browserify.png')

.tool-browsersync
  background-image: url('../images/tools/browsersync.png')

.tool-chrome-devtools
  background-image: url('../images/tools/chrome-devtools.png')

.tool-codeship
  background-image: url('../images/tools/codeship.png')

.tool-composer
  background-image: url('../images/tools/composer.png')

.tool-debug-bar
  background-image: url('../images/tools/debug-bar.png')

.tool-git
  background-image: url('../images/tools/git.png')

.tool-gulp
  background-image: url('../images/tools/gulp.png')

.tool-npm
  background-image: url('../images/tools/npm.png')

.tool-p3
  background-image: url('../images/tools/p3.png')

.tool-pagespeed
  background-image: url('../images/tools/pagespeed.png')

.tool-sass
  background-image: url('../images/tools/sass.png')

.tool-vagrant
  background-image: url('../images/tools/vagrant.png')

.tool-wppb
  background-image: url('../images/tools/wppb.png')

.tool-xdebug
  background-image: url('../images/tools/xdebug.png')

.tool-yeoman
  background-image: url('../images/tools/yeoman.png')

.tool-yslow
  background-image: url('../images/tools/yslow.png')

.tool-ab
.tool-bitbucket
.tool-browserify
.tool-browsersync
.tool-chrome-devtools
.tool-codeship
.tool-composer
.tool-debug-bar
.tool-git
.tool-gulp
.tool-npm
.tool-p3
.tool-pagespeed
.tool-plugin-boilerplate
.tool-sass
.tool-vagrant
.tool-vvv
.tool-wppb
.tool-xdebug
.tool-yeoman
.tool-yslow
  background-color: white

  &.bespoke-backdrop-active
    opacity: .9

.tool-ab
.tool-bitbucket
.tool-browserify
.tool-browsersync
.tool-chrome-devtools
.tool-codeship
.tool-composer
.tool-debug-bar
.tool-git
.tool-gulp
.tool-npm
.tool-p3
.tool-pagespeed
.tool-plugin-boilerplate
.tool-sass
.tool-vvv
.tool-wppb
.tool-xdebug
.tool-yeoman
.tool-yslow
  background-position: 50% 25%
  background-repeat: no-repeat
  background-size: auto 50%
